#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-nav {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: flex-end;
}

#info {
  position: relative;
  padding: 0;
  border: 2px solid #e2e2e2;
  outline: none;
  background-color: #f4f5f6;
  border-radius: 20px; /* Adjusted border-radius */
  box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
#info div {

  padding: 10px; /* Smaller padding */
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow:
    inset 0px -4px 0px #dddddd,
    0px -4px 0px #f4f5f6;
  border-radius: 20px;
  transition: 0.3s ease-in-out; /* Smooth animation */
  z-index: 1;
}